@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  height: 100vh; /* fallback for Js load */
  /* height: var(--doc-height); */
  height: calc(var(--vh, 1vh) * 100);
}

.dynamic-height {
  height: calc(100% - var(--navbar-height));
}

:root {
  --layout-width: 1080px;
  --layout-x-padding: 1rem;
  --footer-height: 150px;
  --navbar-height: 100px;
  --navbar-height-mobile: 80px;
  --doc-height: 100%;
  --vh: 1vh;
}

#__next, /* for Next.js */
.main-container {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
/* #section_footer {
  width: 100%;
  background: #B6CF54;

  a, span {
    color: #fff;
    font-size: .75em;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  p {
    color: #fff;
    font-size: .5em;
  }
} */

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 10000; /* Ensure it's above other content */
}

.cookie-banner p {
  margin: 0 0 10px 0;
}

.cookie-banner button {
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
