@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --layout-width: 1080px;
  --layout-x-padding: 1rem;
  --footer-height: 150px;
  --navbar-height: 120px;
}

/* #section_footer {
  width: 100%;
  background: #B6CF54;

  a, span {
    color: #fff;
    font-size: .75em;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  p {
    color: #fff;
    font-size: .5em;
  }
} */


